In [19]:
import pandas as pd
import matplotlib as plt 
import seaborn as sns 
import numpy as np

In [20]:
red_wine= pd.read_csv('winequality-red.csv', sep=';')

In [21]:
red_wine.drop_duplicates()

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality
0,7.4,0.700,0.00,1.9,0.076,11.0,34.0,0.99780,3.51,0.56,9.4,5
1,7.8,0.880,0.00,2.6,0.098,25.0,67.0,0.99680,3.20,0.68,9.8,5
2,7.8,0.760,0.04,2.3,0.092,15.0,54.0,0.99700,3.26,0.65,9.8,5
3,11.2,0.280,0.56,1.9,0.075,17.0,60.0,0.99800,3.16,0.58,9.8,6
5,7.4,0.660,0.00,1.8,0.075,13.0,40.0,0.99780,3.51,0.56,9.4,5
...,...,...,...,...,...,...,...,...,...,...,...,...
1593,6.8,0.620,0.08,1.9,0.068,28.0,38.0,0.99651,3.42,0.82,9.5,6
1594,6.2,0.600,0.08,2.0,0.090,32.0,44.0,0.99490,3.45,0.58,10.5,5
1595,5.9,0.550,0.10,2.2,0.062,39.0,51.0,0.99512,3.52,0.76,11.2,6
1597,5.9,0.645,0.12,2.0,0.075,32.0,44.0,0.99547,3.57,0.71,10.2,5
1598,6.0,0.310,0.47,3.6,0.067,18.0,42.0,0.99549,3.39,0.66,11.0,6

In [22]:
white_wine = pd.read_csv('winequality-white.csv', sep=';')

In [23]:
white_wine.describe()

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality
count,4898.000000,4898.000000,4898.000000,4898.000000,4898.000000,4898.000000,4898.000000,4898.000000,4898.000000,4898.000000,4898.000000,4898.000000
mean,6.854788,0.278241,0.334192,6.391415,0.045772,35.308085,138.360657,0.994027,3.188267,0.489847,10.514267,5.877909
std,0.843868,0.100795,0.121020,5.072058,0.021848,17.007137,42.498065,0.002991,0.151001,0.114126,1.230621,0.885639
min,3.800000,0.080000,0.000000,0.600000,0.009000,2.000000,9.000000,0.987110,2.720000,0.220000,8.000000,3.000000
25%,6.300000,0.210000,0.270000,1.700000,0.036000,23.000000,108.000000,0.991723,3.090000,0.410000,9.500000,5.000000
50%,6.800000,0.260000,0.320000,5.200000,0.043000,34.000000,134.000000,0.993740,3.180000,0.470000,10.400000,6.000000
75%,7.300000,0.320000,0.390000,9.900000,0.050000,46.000000,167.000000,0.996100,3.280000,0.550000,11.400000,6.000000
max,14.200000,1.100000,1.660000,65.800000,0.346000,289.000000,440.000000,1.038980,3.820000,1.080000,14.200000,9.000000

In [24]:
white_wine.drop_duplicates()

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality
0,7.0,0.27,0.36,20.7,0.045,45.0,170.0,1.00100,3.00,0.45,8.8,6
1,6.3,0.30,0.34,1.6,0.049,14.0,132.0,0.99400,3.30,0.49,9.5,6
2,8.1,0.28,0.40,6.9,0.050,30.0,97.0,0.99510,3.26,0.44,10.1,6
3,7.2,0.23,0.32,8.5,0.058,47.0,186.0,0.99560,3.19,0.40,9.9,6
6,6.2,0.32,0.16,7.0,0.045,30.0,136.0,0.99490,3.18,0.47,9.6,6
...,...,...,...,...,...,...,...,...,...,...,...,...
4893,6.2,0.21,0.29,1.6,0.039,24.0,92.0,0.99114,3.27,0.50,11.2,6
4894,6.6,0.32,0.36,8.0,0.047,57.0,168.0,0.99490,3.15,0.46,9.6,5
4895,6.5,0.24,0.19,1.2,0.041,30.0,111.0,0.99254,2.99,0.46,9.4,6
4896,5.5,0.29,0.30,1.1,0.022,20.0,110.0,0.98869,3.34,0.38,12.8,7
4897,6.0,0.21,0.38,0.8,0.020,22.0,98.0,0.98941,3.26,0.32,11.8,6

In [25]:
red_wine ['quality_label'] = red_wine['quality'].apply(
lambda value: 'low'
    if value <= 5 
    else 'medium' if value <= 7 
    else 'high')

red_wine['quality_label'] = pd.Categorical(red_wine['quality_label'],
categories=['low', 'medium', 'high'])

In [26]:
white_wine['quality_label'] = white_wine['quality'].apply(
lambda value: 'low' 
if value <= 5 
else 'medium'if value <= 7 
else 'high')

white_wine['quality_label'] = pd.Categorical(white_wine['quality_label'],
categories=['low', 'medium', 'high'])

In [27]:
combined_wine = pd.concat([red_wine, white_wine])

In [28]:
red_wine.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1599 entries, 0 to 1598
Data columns (total 13 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   fixed acidity         1599 non-null   float64
 1   volatile acidity      1599 non-null   float64
 2   citric acid           1599 non-null   float64
 3   residual sugar        1599 non-null   float64
 4   chlorides             1599 non-null   float64
 5   free sulfur dioxide   1599 non-null   float64
 6   total sulfur dioxide  1599 non-null   float64
 7   density               1599 non-null   float64
 8   pH                    1599 non-null   float64
 9   sulphates             1599 non-null   float64
 10  alcohol               1599 non-null   float64
 11  quality               1599 non-null   int64
 12  quality_label         1599 non-null   category
dtypes: category(1), float64(11), int64(1)
memory usage: 151.7 KB

In [29]:
#red_wine['wine_type'] = 'Red'
#white_wine['wine_type'] = 'White'

In [30]:
combined_wine = pd.concat([red_wine, white_wine])

In [31]:
combined_wine.drop(["quality_label"],axis=1, inplace=True)

In [32]:
combined_wine.info()

<class 'pandas.core.frame.DataFrame'>
Index: 6497 entries, 0 to 4897
Data columns (total 12 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   fixed acidity         6497 non-null   float64
 1   volatile acidity      6497 non-null   float64
 2   citric acid           6497 non-null   float64
 3   residual sugar        6497 non-null   float64
 4   chlorides             6497 non-null   float64
 5   free sulfur dioxide   6497 non-null   float64
 6   total sulfur dioxide  6497 non-null   float64
 7   density               6497 non-null   float64
 8   pH                    6497 non-null   float64
 9   sulphates             6497 non-null   float64
 10  alcohol               6497 non-null   float64
 11  quality               6497 non-null   int64
dtypes: float64(11), int64(1)
memory usage: 659.9 KB

## Skewness

In [33]:
#print(red_wine['alcohol'].astype(float).skew())

## Kurtosis

In [34]:
#print(red_wine['alcohol'].astype(float).kurt())

In [35]:
from sklearn.datasets import make_classification
from sklearn.linear_model import LogisticRegression
from sklearn.model_selection import train_test_split
from sklearn.pipeline import make_pipeline
from sklearn.preprocessing import StandardScaler

## Encoding - One-hot enconder for wine_type for combined_wine

In [36]:
combined_wine_enco = combined_wine.copy()
combined_wine_enco['wine_type'].replace({'Red': 0, 'White': 1}, inplace=True)

KeyError: 'wine_type'

## Splitting Data

In [ ]:
from sklearn.model_selection import train_test_split

In [ ]:
X = combined_wine_enco.drop('wine_type' , axis = 1)
y = combined_wine_enco['wine_type']

KeyError: "['wine_type'] not found in axis"

In [ ]:
X_train, X_test, y_train, y_test = train_test_split( X, y, test_size=0.2, random_state=52)

In [ ]:
X_train.shape

(5197, 12)

In [ ]:
y_train.shape

(5197,)

In [ ]:
X_test.shape

(1300, 12)

In [ ]:
y_test.shape

(1300,)

In [ ]:
y_test

4802    1
532     0
4563    1
3537    1
427     0
       ..
1032    0
4441    1
873     0
879     1
1924    1
Name: wine_type, Length: 1300, dtype: int64

# Building Model 
## Logistic Regression

In [ ]:
from sklearn.linear_model import LogisticRegression

#'model' is my trained logistic regression model
lr_model = LogisticRegression(random_state=42)

In [ ]:
lr_model.fit(X_train, y_train)

/Users/pierreloyal/anaconda3/lib/python3.11/site-packages/sklearn/linear_model/_logistic.py:460: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

LogisticRegression(random_state=42)

## Predict the Test Data

In [ ]:

preds = lr_model.predict(X_test)

# import accuracy_score metric
from sklearn.metrics import  accuracy_score 

# get the accourcy between predicted data from the model and the orginal data (Test) 
acc = accuracy_score(y_test, preds)

print(acc)

0.9830769230769231

## Random Forest Model

In [ ]:
#Import Model
from  sklearn.ensemble import RandomForestClassifier

In [ ]:
#Building Model
rf_model= RandomForestClassifier(n_estimators=100, criterion='entropy', random_state=453)

In [ ]:
#Fit model
rf_model.fit(X_train, y_train)

RandomForestClassifier(criterion='entropy', random_state=453)

In [ ]:
#Predict

y_pred=rf_model.predict(X_test)

In [ ]:
#Evaluate
acc = accuracy_score(y_test, y_pred)
print(acc)

0.9992307692307693

# ML for Quality Labels

## Red wine

In [ ]:
red_wine.head()

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality,quality_label
0,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4,5,low
1,7.8,0.88,0.00,2.6,0.098,25.0,67.0,0.9968,3.20,0.68,9.8,5,low
2,7.8,0.76,0.04,2.3,0.092,15.0,54.0,0.9970,3.26,0.65,9.8,5,low
3,11.2,0.28,0.56,1.9,0.075,17.0,60.0,0.9980,3.16,0.58,9.8,6,medium
4,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4,5,low

In [ ]:
red_wine.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1599 entries, 0 to 1598
Data columns (total 13 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   fixed acidity         1599 non-null   float64
 1   volatile acidity      1599 non-null   float64
 2   citric acid           1599 non-null   float64
 3   residual sugar        1599 non-null   float64
 4   chlorides             1599 non-null   float64
 5   free sulfur dioxide   1599 non-null   float64
 6   total sulfur dioxide  1599 non-null   float64
 7   density               1599 non-null   float64
 8   pH                    1599 non-null   float64
 9   sulphates             1599 non-null   float64
 10  alcohol               1599 non-null   float64
 11  quality               1599 non-null   int64
 12  quality_label         1599 non-null   category
dtypes: category(1), float64(11), int64(1)
memory usage: 151.7 KB

## Label Encoding with values 0,1 and 2

In [ ]:
from sklearn.preprocessing import LabelEncoder

label_encoder = LabelEncoder()
red_wine['quality_label'] = label_encoder.fit_transform(red_wine['quality_label'])

# Unique species after label encoding
print(red_wine['quality_label'].unique())

[1 2 0]

In [ ]:
class_mapping = dict(zip(label_encoder.classes_, label_encoder.transform(label_encoder.classes_)))

print(class_mapping)

{'high': 0, 'low': 1, 'medium': 2}

In [ ]:
red_wine.head()

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality,quality_label
0,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4,5,1
1,7.8,0.88,0.00,2.6,0.098,25.0,67.0,0.9968,3.20,0.68,9.8,5,1
2,7.8,0.76,0.04,2.3,0.092,15.0,54.0,0.9970,3.26,0.65,9.8,5,1
3,11.2,0.28,0.56,1.9,0.075,17.0,60.0,0.9980,3.16,0.58,9.8,6,2
4,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4,5,1

### Encoding

In [ ]:
# Encode categorical columns to dummy variables

#cat_cols = red_wine.select_dtypes(include=['object']).columns

#cat_col_encode = pd.get_dummies(red_wine[cat_cols])

In [ ]:
# Drop the original categorical columns from red_wine
#red_wine.drop(columns=cat_cols, axis=1, inplace=True)

In [ ]:
# combine new columns with original red_wine
#red_wine_encoded = pd.concat([red_wine, cat_col_encode], axis=1)

In [ ]:
cat_col_encode

      wine_type_Red
0              True
1              True
2              True
3              True
4              True
...             ...
1594           True
1595           True
1596           True
1597           True
1598           True

[1599 rows x 1 columns]

### Split

In [ ]:
from sklearn.model_selection import train_test_split    

# Split data into features (X) and target (y)
# Ensure 'quality_label' is not included in the encoded columns if it's your target variable
X = red_wine.drop(['quality_label','quality'] , axis = 1)
y = red_wine['quality_label']

# Split data into training and testing sets
X_train, X_test, y_train, y_test = train_test_split( X, y, test_size=0.2, random_state=52)

### Building Model

#### Logistic Regression

In [ ]:
from sklearn.linear_model import LogisticRegression
# Initialize and fit the logistic regression model
lr_model_red = LogisticRegression(random_state=42)

#fit model
lr_model_red.fit(X_train, y_train)

/Users/pierreloyal/anaconda3/lib/python3.11/site-packages/sklearn/linear_model/_logistic.py:460: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

LogisticRegression(random_state=42)

#### Predict

In [ ]:
# Make predictions on the test set
pred=lr_model_red.predict(X_test)

In [ ]:
# import accuracy_score  metric
from sklearn.metrics import  accuracy_score

In [ ]:
# Calculate and print the accuracy score

acc = accuracy_score(y_test, pred)

In [ ]:
print(acc)

0.69375

## Confusion Matrix

In [ ]:
from sklearn.metrics import confusion_matrix

confusion_matrix(y_test, pred)

array([[  0,   0,   3],
       [  0, 105,  42],
       [  0,  53, 117]])

In [ ]:
high_quality_count = (red_wine['quality_label'] == 0).sum()

print(f"Number of 'high' quality rows: {high_quality_count}")

Number of 'high' quality rows: 18

## Precision, Recall, and F1-Score Calculation

In [ ]:
from sklearn.metrics import precision_recall_fscore_support

# Calculate precision, recall, and F1-score
precision, recall, f1, _ = precision_recall_fscore_support(y_test, pred, average='weighted')

print(f"Precision: {precision}")
print(f"Recall: {recall}")
print(f"F1-Score: {f1}")

Precision: 0.6889614099859352
Recall: 0.69375
F1-Score: 0.6907262245704129

/Users/pierreloyal/anaconda3/lib/python3.11/site-packages/sklearn/metrics/_classification.py:1469: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))

## Random Tree Model

## Find Outliners with IQR

In [ ]:
# Calculate Q1, Q3, and IQR 

Q1 = red_wine['alcohol'].quantile(0.25)
Q3 = red_wine['alcohol'].quantile(0.75)
IQR = Q3 - Q1

In [ ]:
# Define thresholds for outliers
lower_bound = Q1 - 1.5 * IQR
upper_bound = Q3 + 1.5 * IQR

In [ ]:
#identify outliers
outliers = red_wine[(red_wine['alcohol'] < lower_bound) | (red_wine['alcohol'] > upper_bound)]

In [ ]:
# Remove
red_wine_filtered = red_wine[(red_wine['alcohol'] >= lower_bound) & (red_wine['alcohol'] <= upper_bound)]

In [ ]:
print(f"Original dataset size: {len(red_wine)}")
print(f"Filtered dataset size: {len(red_wine_filtered)}")
print(f"Number of outliers removed: {len(outliers)}")

Original dataset size: 1599
Filtered dataset size: 1586
Number of outliers removed: 13